// FONT REFERENCE
//
//font-family: 'Open Sans', sans-serif
//font-family: 'Roboto Mono', monospace;
//font-family: 'Bungee Hairline', cursive;

//C O L O R S
$AuraBlue: #90d3ed;
$pastelBlue: #bbd8e3;
$purple: #9c90ed;
$skyBlue: #a6d5e8;
$purpleBlue: #90a6ed;
$shadeGray: rgb(166, 167, 170);
$gray: rgb(195, 195, 195);
$darkGray: rgb(99,99,99);
#app {
	width: 100vw;
	height: 100vh;
}
